.top
  position relative
  height 45px
  border-bottom 1px solid rgba(0, 0, 0, 0.1)
  font 15px/45px a
  color rgba(0, 0, 0, 0.7)
  background #efeff0
.top
  height 44px
  background #efeff0
  border-bottom 1px solid #ddd
  .top__back 
    float left
    width 42px
    height 44px
    &::after
      content ''
      display block
      margin 15px 0 0 16px
      width 10px
      height 16px
      background url(http://dushu.xiaomi.com/x0D0GrWs.png) no-repeat
      background-size 10px 16px
  .header-home 
    float right
    width 44px
    height 44px
    background url(http://image.read.duokan.com/mfsv2/download/fdsc3/p01eZH42sBV7/QTS90E2ZVritaa.png) no-repeat center
    background-size 16px

