.list-h5-item
  padding 17px 0
  border-bottom 1px solid #f0f0f0
  &:last-child
    border none
.book-h5 
  overflow hidden
  .book-h5_no-img__order
    float left
    margin-top 1px
    font 13px/13px a
    color rgba(237, 83, 15, 0.9)
  .book-h5_no-img__info 
    margin-left 27px
  .book-h5_no-img__title
    position relative
    font 15px/15px a
    color rgba(0, 0, 0, 0.9)
    background #fff
  .book-h5_no-img__author 
    position absolute
    margin 1px 0 0 13px
    font 12px/12px a
    color rgba(0, 0, 0, 0.4)
    background #fff