.channel-h5__header
  padding 15px 13px 14px 13px
  border-bottom 1px solid #f0f0f0
  position relative
  .channel-h5__title 
    position relative
    font bold 13px/13px a
    color rgba(0, 0, 0, 0.9)
    .title_sub
      position: absolute
      margin -1px 0 0 5px
      padding 3px 5px 0 5px
      font 9px/9px a
      color #fff
      background #53ac7d
      border-radius 1px