@import '../../styles/color.styl'
@import '../../styles/img.styl'

.page-container
  min-height 100vh

/** index header **/
.header
  height 44px
  line-height 44px
  background-color $header-background-color
  padding 0 90px
  font-size 14px
  position relative
  .header-list
    overflow visible
    position relative
    z-index 1
    display flex
    .header-item
      flex 1
      text-align center
    .header-bottom-line
      position absolute
      bottom -1px
      width 50%
      height 2px
      .line
        width 40%
        height 2px
        margin 0 auto
        background-color #777
    .active
      color $header-active-color
  .left-signed
    position absolute
    left 0
    top 0
    width 44px
    height 44px
    background url($header_signed) center center no-repeat
    background-size 22px
  .right-user
    position absolute
    right 0
    top 0
    width 44px
    height 44px
    background url($header_user) center center no-repeat
    background-size 16px
.content-container
  background #ffffff
  .top-home
    background #fff
    border-bottom 10px solid #f5f5f5
  .search-block
    height 34px
    padding 1px 0 0 30px
    font 11px/33px a
    color rgba(0, 0, 0, 0.4)
    background url($home_search) no-repeat 8px center
    background-size 14px
    border 1px solid #f5f5f5
    border-radius 2px
    margin 10px 13px

.top-home__btns
  margin 14px 0 4px
  display -webkit-box
  width 100%
  .top-home__btn
    line-height 2.4
    font-size 12px
    text-align center
    -webkit-box-flex 1
    .top-home__icon 
      display block
      margin 0 auto
      height 22px
      width 22px
      background-position center
      background-repeat no-repeat
      background-size 22px
      vertical-align -5px
.main-card 
  border-bottom 10px solid #f5f5f5
  background #fff
.channel-group
  position relative

.Lazy_waiting image, .Lazy_loading image {
  opacity: 0;
  -webkit-transition: opacity .4s;
}
.Lazy_loaded image {
  opacity: 1;
}

/***** 重磅推荐 ********/
.channel-h5
  position relative
  border-bottom 10px solid #f5f5f5
  background #fff
.tab
  position absolute
  top 9px
  right 13px
  .tab-item
    position relative
    padding 16px 7px
    font 12px/12px a
    color #999
  .tab__on
    color #528ae8 !important
.tab__bd
  overflow hidden
  .tab__wrap
    float left
    position relative
    width 100%
    margin-right -100%
    z-index 1
.Fade 
  overflow: hidden
  .list-item
    float left
    position relative
    width 100%
    margin-right -100%
    visibility hidden
    z-index 1
    -webkit-transition opacity 400ms ease-in-out

.list-h5, .list-more__wrap 
  padding 0 13px

.u-tagRT, .u-tagLT, .u-subscript 
  position absolute
  top 0
  left 0
  line-height 1.4
  background-color #ef6c2c
  color #fff
  width 100%
  -webkit-transform-origin top center
  -webkit-transform translateX(50%) rotate(45deg) translateY(50%) scale(0.8)
  font-size 1.4rem
  text-align center
.channel-h5__footer_next 
  border-top 1px solid #f0f0f0
  overflow hidden
  .btn_h5__item
    float left
    width 50%
    padding 14px
    font 13px/1.3em a
    color rgba(0, 0, 0, 0.9)
    box-sizing border-box
    text-align center
    &:first-child 
      border-right 1px solid #f0f0f0
.channel-group__footer 
  display block
  border-top 1px solid #f0f0f0
  text-align center
  font-size 14px
  padding 10px 0
.channel-h5__footer
    display block
    padding 14px 0
    font 13px/1.3em a
    border-top 1px solid #f0f0f0
    text-align center
.banner-h5__list 
  padding 13px 13px 0px
  .banner-h5__list_wrap
    margin 0 -3px -3px
    overflow hidden
  .banner-h5__item
    float left
    width 50%
    margin-bottom 16px
    padding 0 3px
    box-sizing border-box
.banner-h5__cover 
  position relative
  padding-bottom 60.6%
  border 1px solid #f0f0f0
  border-radius 1px
  .cover
    position absolute
    height 100%
    width 100%
    border-radius 1px



