view.book-table
  block(wx:for="{{listData}}", wx:key='unique')
    view.book-table-item
      view.u-book.-vertical
        view.book-cover.Lazy_loading.Lazy_loaded
          image.img(src="{{item.data ? item.data.book_cover : item.cover}}")
        view.info
          text.title {{item.ad_name ? item.ad_name : item.title}}