.book-table 
  padding 13px 14px 5px
  font-size 0
  .book-table-item
    width 33.3%
    display inline-block
    vertical-align top
    line-height 1
    margin-bottom 8px
    &:nth-child(3n+1)
      text-align: left
  .u-book 
    position relative
    overflow hidden
  .u-book.-vertical 
    width 86px
    display inline-block
  .book-cover 
    position relative
    width 8.5rem
    height 11.3rem
    background-color #eeece9
    box-shadow 0px 6px 5px -3px #aaa
    border 1px solid #f0f0f0
    border-bottom none
    overflow hidden
    .img
      width 100%
      height 100%
      opacity 1
  .u-book.-vertical
    .info
      margin-left 0
      padding-top 8px
    .title
      font-size 13px
      line-height 1.4em
      max-height 2.8em
      overflow hidden
      color #8d8d8d
      margin-bottom 0px
      font-weight 400
      text-align left
.u-book .book-cover {
    float: left;
    margin-right: 10px;
}
.u-book.-vertical .book-cover {
  float: none;
  height: 113px;
  width: 86px;
}
.u-tagRT, .u-tagLT, .u-subscript {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 1.4;
    background-color: #ef6c2c;
    color: #fff;
    width: 100%;
    -webkit-transform-origin: top center;
    -webkit-transform: translateX(50%) rotate(45deg) translateY(50%) scale(0.8);
    font-size: 1.4rem;
    text-align: center;
}
.book-cover .u-tagRT.-freefiction {
    background-color: #49ab3f;
}
.book-cover .u-tagRT {
    font-size: 12px;
}
.book-cover .u-tagRT.-freefiction:before {
    content: '\9650\514d';
}